<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
	<!-- http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd -->
	<import resource="classpath:/net/butfly/albacore/frame/spring/beans-frame.xml" />
	<import resource="classpath:/net/butfly/albacore/orm/spring/beans-orm.xml" />

	<bean id="userDAO" class="net.butfly.albacore.orm.jdbc.dao.UserDAOImpl" parent="entityDAO" />
	<bean id="contactDAO" class="net.butfly.albacore.orm.jdbc.dao.ContactDAOImpl" parent="entityDAO" />
</beans>
