<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>  
	<settings>
		<setting name="cacheEnabled" value="${ibatis.cacheEnabled}" />
	</settings>
	<typeHandlers>
		<typeHandler javaType="java.io.Serializable" handler="net.butfly.albacore.dbo.handler.key.StringKeyHandler" />
	</typeHandlers>
	<mappers>
		<mapper resource="/net/butfly/albacore/orm/dbo/common-sql-oracle.xml" />
		<mapper resource="/net/butfly/demo/albacore/mapper/User.xml" />
	</mappers>
</configuration>  
