<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<import resource="classpath:net/butfly/albacore/demo/spring/beans-ds-h2.xml"/>
	<import resource="classpath:/net/butfly/albacore/orm/spring/beans-orm.xml"/>
	<import resource="classpath:/net/butfly/albacore/frame/spring/beans-frame.xml"/>
	<import resource="classpath:/net/butfly/albacore/core/spring/beans-orm.xml"/>
	<import resource="classpath:/net/butfly/albacore/utils/spring/beans-frame.xml"/>

	<bean id="userDAO" class="net.butfly.albacore.demo.dao.UserDAOImpl" parent="entityDAOBase" />
</beans>